@model WebApplication2.Models.GameModel

@{
    ViewData["Title"] = "Game";
    var endTime = DateTime.UtcNow.AddSeconds(179);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;

}


<br />




<br />
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div> Time: <b> <span id="minRemaining"> </span> : <span id="secRemaining"> </span> </b> </div>
    <table>

        @for (int i = 0; i <= 3; i++)
        {
            <tr>
                @for (int j = 0; j <= 3; j++)
                {
                    <td id="@i@j" style="border:solid;height:100px;width:100px;text-align:center;background-color:white;">@Model.LetterArray[i, j]</td>
                }
            </tr>
        }



    </table>
    <div class="x_title">

        <div class="clearfix"></div>
        <h6 id="start">New word</h6>

    </div>
</div>

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    <div class="x_title">
        <h4> Word is: </h4>
        <label id="word"> </label>
        <br />


        <br />
        </div>
    </div>

    @using (Html.BeginForm("Result", "Home", new { @class = "form-horizontal form-label-left" }))
    {<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="table-responsive">
            <div class="x_title">
                <h4>PLAYER 1:</h4>
            </div>
            <table>
                <tbody id="selectedTableItems"></tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="table-responsive">
            <div class="x_title">
                <h4>PLAYER 2:</h4>
            </div>
            <table>
                <tbody id="selectedTableItems2"></tbody>
            </table>
        </div>
    </div>
</div>
    <div class="btn-group  pull-right">

        <button type="button" id="add" class="btn btn-primary" onclick="add1()"><span style="color:#fff;"></span> ADD  </button>
        <button type="button" id="add2" class="btn btn-danger" onclick="add22()"><span style="color:#fff;"></span> ADD </button>
        <button type="submit" class="btn btn-success">Finish</button>
    </div>
    }

        @section Scripts{


            <script>

            $('#add2').hide();

            $('document').ready(function () {
                var $td = $('td').click(function () {
                    var bgColor = $(this).css('backgroundColor');
                    var start = document.getElementById("start").innerText;
                    if (bgColor === "rgb(255, 0, 0)" || (bgColor === "rgb(255, 255, 255)" && start !== "New word")) {
                        alert("Can't click");
                    } else {
                        document.getElementById("start").innerText = " ";
                        var $this = $(this);

                        for (i = 0; i <= 3; i++) {
                            for (j = 0; j <= 3; j++) {
                                if ($('#' + i + '' + j).css('backgroundColor') !== "rgb(255, 0, 0)") {
                                    $('#' + i + '' + j).css('backgroundColor', 'white');
                                }
                            }
                        }


                        $(this).css('backgroundColor', 'red');


                        var col = $this.index();
                        var row = $this.closest('tr').index();


                        var bgColor1 = $('#' + (row - 1) + '' + (col - 1)).css('backgroundColor');
                        if (bgColor1 !== "rgb(255, 0, 0)")
                            $('#' + (row - 1) + '' + (col - 1)).css('backgroundColor', 'grey');

                        var bgColor2 = $('#' + (row - 1) + '' + (col)).css('backgroundColor');
                        if (bgColor2 !== "rgb(255, 0, 0)")
                            $('#' + (row - 1) + '' + (col)).css('backgroundColor', 'grey');

                        var bgColor3 = $('#' + (row - 1) + '' + (col + 1)).css('backgroundColor');
                        if (bgColor3 !== "rgb(255, 0, 0)")
                            $('#' + (row - 1) + '' + (col + 1)).css('backgroundColor', 'grey');

                        var bgColor4 = $('#' + (row) + '' + (col - 1)).css('backgroundColor');
                        if (bgColor4 !== "rgb(255, 0, 0)")
                            $('#' + (row) + '' + (col - 1)).css('backgroundColor', 'grey');

                        var bgColor5 = $('#' + (row) + '' + (col)).css('backgroundColor');
                        if (bgColor5 !== "rgb(255, 0, 0)")
                            $('#' + (row) + '' + (col)).css('backgroundColor', 'grey');

                        var bgColor6 = $('#' + (row) + '' + (col + 1)).css('backgroundColor');
                        if (bgColor6 !== "rgb(255, 0, 0)")
                            $('#' + (row) + '' + (col + 1)).css('backgroundColor', 'grey');

                        var bgColor7 = $('#' + (row + 1) + '' + (col - 1)).css('backgroundColor');
                        if (bgColor7 !== "rgb(255, 0, 0)")
                            $('#' + (row + 1) + '' + (col - 1)).css('backgroundColor', 'grey');

                        var bgColor8 = $('#' + (row + 1) + '' + (col)).css('backgroundColor');
                        if (bgColor8 !== "rgb(255, 0, 0)")
                            $('#' + (row + 1) + '' + (col)).css('backgroundColor', 'grey');

                        var bgColor9 = $('#' + (row + 1) + '' + (col + 1)).css('backgroundColor');
                        if (bgColor9 !== "rgb(255, 0, 0)")
                            $('#' + (row + 1) + '' + (col + 1)).css('backgroundColor', 'grey');





                        document.getElementById("word").innerText += $(this).text();
                    }

                })




            });

            var remSeconds = parseFloat(@timeRemaining);
            var secondsCounter = remSeconds % 60;

        function formatNumber(number) {
            if (number < 10) return '0' + number;
            else return '' + number;
        }

        function startTick() {
            document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
            document.getElementById('minRemaining').innerText = formatNumber(remSeconds / 60);


            var _tick = setInterval(function ()
            {
                if (remSeconds > 0) {
                    remSeconds = remSeconds - 1;
                    secondsCounter = secondsCounter - 1;
                    document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
                    document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds / 60));

                    if (secondsCounter == 0)
                        secondsCounter = 60;


                } else {
                    alert('END!');
                    clearInterval(_tick);
                    $('#add').hide();
                    $('#add2').hide();
                }
            }, 1000);

        }

        startTick();


            var add1 = function () {
                addItem(document.getElementById("word").innerText);

                document.getElementById("start").innerText = "New word";
                $('#add').hide();
                $('#add2').show();

            }


            var addItem = function (item) {


                $('#selectedTableItems').append('<tr><td>' + item + '</td></tr>');
                item.Id = $('#selectedTableItems tr').length;
                createModelListItem(item)
                $('td').css('backgroundColor', 'white');
                document.getElementById("word").innerText = "";
            }


            var createModelListItem = function (item) {
                $('<input/>', {

                    name: "Words",
                    type: "hidden",
                    value: item
                }).appendTo('#selectedTableItems');

                $('<input/>', {

                    name: "Words[" + $('#selectedTableItems tr').length + "]",
                    type: "hidden",
                    value: item

                }).appendTo('#selectedTableItems');

            }


            var add22 = function () {
                addItem2(document.getElementById("word").innerText);

                document.getElementById("start").innerText = "New word";
                $('#add2').hide();
                $('#add').show();
            }


            var addItem2 = function (item) {


                $('#selectedTableItems2').append('<tr><td>' + item + '</td></tr>');
                item.Id = $('#selectedTableItems2 tr').length;
                createModelListItem2(item)
                $('td').css('backgroundColor', 'white');
                document.getElementById("word").innerText = "";
            }


            var createModelListItem2 = function (item) {
                $('<input/>', {

                    name: "Words1",
                    type: "hidden",
                    value: item
                }).appendTo('#selectedTableItems2');

                $('<input/>', {

                    name: "Words1[" + $('#selectedTableItems2 tr').length + "]",
                    type: "hidden",
                    value: item

                }).appendTo('#selectedTableItems2');

            }




            </script>
        }





